

.sticky-header {
  position: sticky;
    top: 0;
    display: flex;
  align-items: center;
  justify-content: space-between;
    background: #fff;
    padding: 22px 120px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    .logo {
      display: flex;
      gap: 8px;
    img {
      width: 32px;
      height: 32px;
      align-self: center;
      filter: brightness(0) saturate(100%) invert(24%) sepia(14%) saturate(7341%) hue-rotate(211deg) brightness(81%) contrast(95%);
    }}
    .logo span {
      font-size: 22px;
      color: var(--Primary);
      align-self: center;
}
    }

    .nav-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 30px;
    }

    .nav-menu ul li {
      display: inline;
      cursor: pointer;
      color: var(--Disabled);
      font-size: 22px;
    }

    .nav-menu ul li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      padding: 8px 12px;
      border-radius: 4px;
    }

    .nav-menu ul li span:hover {
      color: var(--Primary);
    }
    .nav-menu .active {
      color: var(--Primary);
    }

    .mat-card-container {
      margin: 22px 120px;
      background: #fff;
      mat-card-title {
        color: var(--Primary);
      }
      mat-card-header {
        padding-left: 46px;
      }
    }
